// TODO
.content {
    margin-left: 20%;
    max-width: 80%;
    image {
        width: 100%;
        height: 400px;
    }
    a {
        color: var(--higlight);
    }
    h1 {
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    .contentInformation{
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 3rem;
    }
}
